*{
  background-color: black;
  color: white;
}

.btn{
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  margin: 10px;
}

.btn2{
  background-color: aqua;
}
